// FUNCTIONAL COLORS
$magenta: #ff2d55;
$orange: #ff8c29;
$red: #ff5252;
$blue: #0070c9;
$green: #4caf50;
$yellow: #ffc107;

// NEUTRALS COLORS
$white: white;
$fog: #f4f5f6;
$platinum: #f5f5f6;
$silver: #e7e8eb;
$cement: #d8dadf;
$dust: #aaacb7;
$smog: #818391;
$ash: #616371;
$charcoal: #454555;
$graphite: #3b3b4b;
$slate: #2d2d3b;
$ink: #1e1e2c;
$void: #000014;
$gray: #f1f2f6;
$black: #242a37;
